@import '../utilities/courseSwiper';
.ranking{
    height: 100%;
    width: 100%;
    // background-color: rgba(235, 156, 55, .3);
    // background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    background: linear-gradient( 35deg,#eeca38 50%,transparent 50%),
    url(https://media.istockphoto.com/illustrations/geometric-minimalist-abstract-illustration-id955851432?k=20&m=955851432&s=612x612&w=0&h=4Fumj6r-pxbjLX73iYKYXY5ln75TU6iF4LSWtJZOZqM=)left bottom / 100% 100% ;
    @media (max-width:992px) {
        background: linear-gradient( 35deg,#f1c40f 30%,transparent 50%),
    url(https://media.istockphoto.com/photos/three-people-are-standing-near-the-tower-of-cubes-with-the-word-goal-picture-id1128537795?k=20&m=1128537795&s=612x612&w=0&h=ubWoLL6RIrcFGMSPNq3kEzvWW5lPtkoPszPyLKMwfQc=)left bottom / 100% 100% ;
    }
    // background: linear-gradient( 35deg,#f1c40f 50%,transparent 50%),
    // url(https://media.istockphoto.com/photos/three-people-are-standing-near-the-tower-of-cubes-with-the-word-goal-picture-id1128537795?k=20&m=1128537795&s=612x612&w=0&h=ubWoLL6RIrcFGMSPNq3kEzvWW5lPtkoPszPyLKMwfQc=)left bottom / auto 100% ;
    .col-lg-3{
        a{
            &:hover{
                background-color: #F1C40F !important;
            }
        }
    }
}
.circle-number{
    width: 80px;
    height: 80px;
    background-color: #EB9C37;
    border-radius: 50%;
    .inside-circle{
        width: 65px;
        height: 65px;
        border-radius: 50%;
        background-color: #fff;
        border: 3px solid rgba(146, 241, 38, 0.6);
    }
}
.first{
    position: relative;
}
.subtitle{
    &::after{
        display: block;
        width: 100%;
        height: 2px;
        content: '';
        background-color: #EB9C37;
    }
}
@keyframes arrow-down {
    from{ top:-20px; opacity: .7;}
    to{top:10px;opacity:0;}
}
.arrow-down{
    position: relative;
    animation: arrow-down 3s ease 1s infinite;;
}